html {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  overflow-x: hidden;
  color: #000000;
  background-color: #f2f8ff;

  &--fixed {
    overflow-y: hidden;
  }
}

textarea{
  border: none;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
}

textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-bottom: 2px solid #e0e0e0;
} 

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container__lk {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1848px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.lk__window {
  background-color: #ffffff;
}
.lk__nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 155px;
  margin-bottom: 103px;
}
.lk__title {
  display: none;
  color: #000000b3;
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  width: 263px;
}
.lk__title.lk__title--active {
  display: inline-block;
}

.buttonBack {
  margin-left: 176px;
}

.lk {
  padding-left: 20px;
  width: 100%;
  padding-top: 214px;
  padding-bottom: 369px;
}
.lk__wrapper {
  width: 100%;
  display: flex;
  gap: 38px;
}
.lk__main {
  max-width: 1335px;
  width: 100%;
  height: 1220px;
  display: flex;
  flex-direction: column;
}
.lk__sidebar {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 418px;
  min-height: 1220px;
}
.lk__stats {
  padding: 38px 20px 55px 22px;
  height: 208px;
  display: flex;
  flex-direction: column;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    align-items: center;
  }

  &-num {
    margin-top: 7px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
  }

  &-text {
    color: rgb(146, 146, 146);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
.lk__nav {
  height: 100%;
}

.lk__nav.lk__height {
  height: unset;
}

.boldtext {
  font-size: 25px;
  font-weight: 500;
  line-height: 56px;
}

.adminpro {
  color: rgb(146, 146, 146);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: auto;
  margin-right: 15px;
}

.discussions {
  background: linear-gradient(
    -39.06deg,
    rgb(241, 233, 253) 16.446%,
    rgba(241, 233, 253, 0.71) 32.063%,
    rgba(241, 233, 253, 0.64) 44.842%,
    rgba(241, 233, 253, 0.56) 63.746%,
    rgba(241, 233, 253, 0.3) 79.015%
  );
  color: rgb(135, 65, 225);
}

.chat {
  background: linear-gradient(
    -39.06deg,
    rgb(252, 237, 216) 16.446%,
    rgba(252, 237, 216, 0.71) 32.204%,
    rgba(252, 237, 216, 0.64) 45.463%,
    rgba(252, 237, 216, 0.56) 64.231%,
    rgba(252, 237, 216, 0.3) 79.205%
  );
  color: rgb(218, 97, 43);
}

.sign {
  background: linear-gradient(
    -39.06deg,
    rgb(226, 251, 232) 16.446%,
    rgba(226, 251, 232, 0.71) 32.063%,
    rgba(226, 251, 232, 0.64) 49.013%,
    rgba(226, 251, 232, 0.56) 64.231%,
    rgba(226, 251, 232, 0.3) 79.205%
  );
  color: rgb(76, 160, 84);
}

.appeals {
  background: linear-gradient(
    -39.06deg,
    rgb(222, 234, 252) 16.446%,
    rgba(222, 234, 252, 0.71) 32.063%,
    rgba(222, 234, 252, 0.58) 49.013%,
    rgba(222, 234, 252, 0.56) 64.231%,
    rgba(222, 234, 252, 0.3) 79.205%
  );
  color: rgb(60, 109, 229);
}

.lk__nav {
  padding: 78px 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &-item {
    display: flex;
    gap: 18px;
    align-items: center;
    border-radius: 10px;
    background: rgb(249, 250, 251);
    transition: all 0.3s;

    &:hover {
      background: #e9f1fd;
      transition: all 0.3s;

      & a {
        color: #3c6de5;
      }
    }

    & a {
      color: #000000;
      padding: 17px 0 17px 20px;
      width: 100%;
      display: flex;

      & img {
        margin-right: 14px;
      }
    }
  }
}

.sidebarGlobalButton {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 19px 26px;
  border-radius: 10px;
  background: #e9f1fd;
  color: #3c6de5;
  font-size: 20px;
  margin-top: auto;
  transition: all 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.imgtranform1 {
  transform: translateY(3px);
}

.aiAssistent {
  display: flex;
  gap: 41px;
  margin-top: auto;

  &__form {
    display: flex;
    margin-top: auto;
    margin-bottom: 9px;
    width: 100%;
    justify-content: space-between;
    padding: 25px 31px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(229, 231, 235);
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }
}
.lk__userInfoInputs-input-required-div {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-1 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 180px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-6 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 135px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-7 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 220px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-8 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-9 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 95px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__userInfoInputs-input-required-div-10 {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
    z-index: 1;
    color: #ff0000;
    display: inline-block;
  }
}
.lk__nav-item.lk__nav-item--active {
  background: #e9f1fd;
  & a {
    color: #3c6de5;
  }
}
.lk__userInfoInputs.lk__activeDisplay {
  display: flex;
}
.lk__userInfoInputs-pass.lk__activeDisplay {
  display: flex;
}
.lk__datauser.lk__datauser--active {
  display: flex;
}

.lk__main.lk__about {
  height: auto;
}

label,
span {
  color: rgb(146, 146, 146);
}

.lk__string-span {
  color: rgb(146, 146, 146);
}

.lk__userInfoInputs-span {
  margin-left: 35px;
  margin-bottom: 20px;
  color: #da612b;
}

.textEditorDescr {
  margin-top: 89px;
  font-size: 18px;
  margin-bottom: 5px;
}

.textEditorWrapper{
  max-width: 1150px;
  width: 100%;
  height: 480px;
  border: #e9f1fd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 3px solid #3c6de5;
  border-radius: 100%;
}

.lk__string.buttons{
  justify-content: space-between;
  margin-bottom: 12px;
}

.plus svg{
  transform: translateX(-1px);
}

.sidebarGlobalButton.adduser__page{
  width: 100%;
}