.text {
  &-p {
    &-subtitle {
      gap: 27px;
      font-weight: 600;
      font-size: 32px;
      line-height: 131%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }
    &-large {
      font-size: 18px;
    }

    &-medium {
      font-size: 16px;
    }

    &-default {
      font-size: 15px;
    }

    &-small {
      font-size: 14px;
    }

    &-xsmall {
      font-size: 13px;
    }

    &-xSsmall {
      font-size: 10px;
    }
  }
}